@import url("https://use.typekit.net/rfo4ebp.css");

:root {
    --blue-base: #456AE2;
    --white: #ffffff;
}

/* * {
    outline: 1px solid red;
} */

.link {
    font-family: 'aktiv-grotesk-extended';
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #A09C96;
}

#active-link {
    border-bottom: 2px solid var(--blue-base);
    color: #456AE2;
}

#active-nav-link {
    border: 2px solid #456AE2;
    border-radius: 8px;
}

#active-program-link {
    background: #514F4B;
    color: white;
}


.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px 24px 16px;
    gap: 25px;
    position: absolute;
    width: 104px;
    height: 1024px;
    left: 0px;
    top: 0px;
    /* gray/lighter */
    background: #FBF9F7;
    box-shadow: inset -1px 0px 0px #D8D8D8;
}

.pipeline-container {
    position: relative;
    width: 1225px;
    height: 125px;
    left: 104px;
    top: 0px;
    
}

.pipeline-header {
    height: 125px;
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header-logo {
    height: 40px;
    width: 40px;
   
}

.nav-vs-logo{
    height: 32px;
    width: 40px;
}




.nav-item {
    height: 56px;
    width: 56px;
    position: relative;
    bottom: 80px;

}

.nav-item.users {
    height: 24px;
    width: 24px;
}

.header-title {
    font-size: 24px;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 800;
    font-style: normal;
}
.userImg {
    /* box-sizing: border-box;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%; 
/* gray/base */
    box-sizing: border-box;
    border: 1px solid #D8D4CF;
    border-radius: 100px;
    height: 40px;
    width: 40px;    
    position: absolute;
    top: 48px;
    right: 48px;
}

.view-links {
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #A09C96;
    position: relative;
    letter-spacing: 1px;
    left: 104px;
    width: 346px;
    display: flex;
    flex-direction: row;
    gap: 18px;
}

.time-frame-container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 50px;
    width: 350px;
    top: 5px;
    left: 50%;
}

.time-frame-links:hover {
    background: #21201F;
    color: white;
}


.time-frame-links {
    border: 1px solid #514F4B;
    height: 25px;
    width: 54px;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    color: #514F4B;
    background: #FBF9F7;
    border-radius: 16px;
}

.dashboard-container {
    position: relative;
    left: 10%;
}

.card-container {
   position: relative;
   left: 100px;
   height: 142px;
   width: 1140px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: unset;
   gap: 14px;
}

.card-wrapper {
    height: 142px;
    width: 370px;
    border: 2px solid #D8D4CF;
    border-radius: 8px;
    background: #FBF9F7;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-title {
font-family: aktiv-grotesk,sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.5px;
margin: 24px 0px 8px 24px;
color: #514F4B;
}

.card-nums {
    font-family: aktiv-grotesk,sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 44px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 24px;
}

.card-compared-stat {
    font-family: aktiv-grotesk,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
    text-align: left;
    margin-left: 24px;
    color: #008566;
}

.channels-container{
    height: 653px;
    width: 1140px;
    border: 2px solid #D8D4CF;
    border-radius: 8px;
    position: absolute;
    top: 180px;
}

.channels-header {
font-family: aktiv-grotesk,sans-serif;
font-size: 12px;
font-weight: 700;
line-height: 16px;
letter-spacing: 0.5px;
text-align: left;
margin-left: 24px;
margin-top: 24px;

}

.channels-searchbar {
    height: 40px;
    width: 1100px;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: flex-start;
    gap: 16px;
    padding-left: 16px;
    margin-top: 15px;
    background: #F0EEEB;
}

.search-icon {
    height: 24px;
    width: 24px;
    margin-top: 7px;
}

.channels-searchbar > input {
    font-size: 16px;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    height: 40px;
    width: 1000px;
    background: #F0EEEB;
    border-radius: 8px;         
}

.channels-filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 6px 12px;
    gap: 10px;
    margin-top: 16px;
}


.filter-inputs {
    
    
    width: auto;
    height: 30px;
    padding: 6px 12px 6px 12px;
    
    /* gray/lighter */
    
    background: #FBF9F7;
    /* gray/darker */
    
    border: 1px solid #514F4B;
    border-radius: 16px;
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    letter-spacing: 1px;
    text-align: center;

}

table {
    width: 1100px;
    height: 28px;
    margin-top: 16px;
}

tr {
    width: 1192px;
    height: 28px;

/* gray/light */

background: #F0EEEB;
border-radius: 4px; 
}

th {
    font-family: aktiv-grotesk,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #21201F;
}



input:checked ~ img {
    border: 1px solid #456AE2;;
    border-radius: 8px;
    background: #F0EEEB;
}

.nav-inputs {
    position: relative;
    bottom: 11px;
    right: 4px;
    z-index: -1;
    height: 65px;
    width: 65px;
}

.nav-link {
    height: 45px;
    width: 55px;
    padding-top: 1px;
}

.users {
    position: relative;
    bottom: 65px;
    left: 14px;
}

/* dashboard home page */
.home-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.results {
    /* gray/darker */
color: #514F4B;
font-family: aktiv-grotesk,sans-serif;
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 24px;
position: relative;
left: 370px;
bottom: 33px;
}

.education-header-logo {
    height: 24px;
    width: 24px;
    margin-right: 18px;
}

.education-links {
    left: 94px;
    position: relative;
    color: #A09C96;
}

.overview-cards-container {
  left: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  gap:8px;
  flex-wrap: wrap;

  
}

.overview-cards-wrapper {
    display: flex;
    flex-direction: row;
    gap:24px;
    margin-bottom: 24px;
}

.overview-card-large {
    width: 550px;
    height: 150px;
    border: 1px solid #D8D4CF;
    background: #FBF9F7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.education {
    border-radius: 8px;
    text-align: center;
    /* line-height: 12px; */
    height: 24px;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 700;
    font-size: 11px;
    letter-spacing: 0.5px;
    padding: 6px 12px 6px 12px;
    color: #21201F;
}

.education.completed {
    border: 1px solid #008566;
    background: #D9ECE8;
    width: 93px;

}

.education.active {
    border: 1px solid #456AE2;
    background: #E3E8FA; 
    width: 70px;
    
}

.education.paused {
    border: 1px solid #FFCB26;
    background: #FFF7DE;
    width: 75px;
}

.education.mp {
    border: 1px solid #21201F;
    background:  #F0EEEB;
    width: 107px;
}

.education.dropped {
    border: 1px solid #C92A2A;
    background: #F4D4D4;
    width: 85px;
}


.small-card-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    font-family: aktiv-grotesk,sans-serif;
    background: #FBF9F7;
}

.small-card {
    border: 1px solid #D8D4CF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width:264px;
    padding-bottom: 24px;
}

.student-overview-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-left: 75px;
}

.student-overview-card {
background: #FBF9F7;
border: 1px solid #D8D4CF;
border-radius: 8px;
width: 264px;
height: 192px;
display: flex;
flex-direction: column;
align-items: flex-start;
gap:8px;
}

.dept-logo {
    position: relative;
    left: 24px;
    top: 24px;
    height: 40px;
    width: 40px;
}

.department-nav-links {
    display: flex;
    flex-direction: row;
    gap: 8px;
    position: relative;
    left: 55%;
}

.dept-link {
    border: 1px solid #514F4B;
    border-radius: 16px;
    width: auto;
    height: 25px;
    font-family: aktiv-grotesk,sans-serif;
    font-size: 10px;
    font-weight: 700;
    line-height: 13px;
    letter-spacing: 1px;
    text-align: center;
    padding: 6px 12px;

}

.dept-link:hover {
    background-color: #514F4B;
    color: white;
}

.progress-header {
    margin-left: 75px;
}

.progress-search-container {
    border: 1px solid #D8D4CF;
    width: 1240px;
    height: 2345px;
    background: #FBF9F7;
}

.outcomes-link {
    color: #A09C96;
    font-family: aktiv-grotesk,sans-serif;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 1px;
}

.outcomes-overview-stats {
    margin-left: 75px;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}